@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html,body{
    margin:0
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #DA0037;
    font-size: 2rem;
}
nav>.material-icons{
   font-size: 2rem;
}



.home
{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.home>img
{
    margin:5rem auto 1rem auto;
    width: 30%;
    border:5px solid #111111;
    border-radius: 10px;
}

.home>.quote{
    margin: auto;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;

}
.quote>p{
    text-align: center;
}

.home>p
{
    font-family: system-ui;
    margin: 1rem auto;
    font-size: 1rem;
}


.home>button
{
    margin: auto;
    background-color: #f00640;
    color: #FFFFFF;
    font-size: 1rem;
    border-radius: 5px;
}

.app-content
{
    display: none;
}

.tool-box ,#list-table>li , li>.details ,#list-table, li>.task-buttons
{
    display: flex;
    justify-content: space-evenly;
}

.tool-box
{
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #252424b6;
    padding: 10px 0;
}
.counter
{
    background-color: #111111;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    grid-template-rows: 3fr repeat(3, 1fr);
    height: 6rem;
    margin:  auto 5rem auto 1rem;
}

#count
{
    grid-area: 1 / 1 / 2 / 2;
    font-size: xx-large;
    color: #EAEAEA;
}


#desp
{
    grid-area: 2 / 1 / 3 / 2;
    font-size: smaller;
    color: #EAEAEA;
}
.add-task
{
    height: 6rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    
}
#priority
{
    height: 2rem;
    border-radius:5px;
}
#list-input
{
    height: 1.7rem;
    border-radius: 5px;
}

.divider
{
    padding: 10px;
}


#add
{
    font-size: large;
    border-radius: 5px;
    font-weight: 600;
}

#add:hover
{
    background-color: #A1DD70;
}
#list-input, #priority
{
    font-size: large;
    font-weight: 500;
}

#list-table>li
{

    margin: 1rem auto;
}

#list-table
{
    flex-direction: column;
}

.display-data
{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list-table
{
    margin-top: 1rem;
}
 .display-data>.options
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li{
    padding: 10px;
}
li>.task-buttons
{
    justify-content: center;
    align-items: center;
}

li>.details 
{   
    padding-left: 20px;
    width: 25rem;
    flex-direction: column;
    justify-content:center;
}

.task-title
{
    font-size: 1.5rem;
    font-weight: 600;
}
   
#list-table>.task-buttons
{
    font-size: 1rem;
}

#list-table>.low
{
    background-color: #9af078;
    border-radius: 10px;
}

#list-table>.high
{
    background-color: #E46161;
    border-radius: 10px;
}

#list-table>.medium
{
    background-color: #f5eb61;
    border-radius: 10px;
}

#list-table>.checked
{
    background-color: #979793;
    border-radius: 10px;
    
}
.task-buttons>i
{
    visibility: hidden;
}

.checked>.task-buttons>i{
    visibility: visible;
}

.checked>.details
{
    text-decoration:line-through;
}

.task-buttons>input
{
    width: 1.5rem;
    height: 1.5rem;
}

.task-buttons>i
{
   font-size: 2rem;
}


.hidden
{
    visibility: hidden;
}



@media screen and (max-width: 600px)
{

    .tool-box
    {
        flex-direction: column;
    }

    .add-task
    {
        width: 100%;
        margin: 1rem auto;
        
    }

    .counter
    {
        margin: auto;
    }

    
    .display-data
    {
        padding:1rem auto;
    }

    li
    {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    li>.details 
    {  
        width: 15rem;
    }

    .home>img
    {
        margin:2rem auto 1rem auto;
        width: 70%; 
    }

    .home>.quote
    {
        font-size: 1rem;
    }

    
}




.modal 
{
    display: none   ;
    z-index: 1;
    position: fixed;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    background-color:  #00000050;
}

.modal-content
{
    margin: auto;
    background-color: #FFFFFF;
    padding: 20px;
    width: 80%;
    border: 2px solid #111111 ;
}

.close
{
    float: right;
    font-size: 24px;
    font-weight: bold;
}





