html,body{
    margin:0
}

nav{
    width: 100%;
    background-color: red;
}

.tool-box ,#list-table>li , li>.details ,#list-table, li>.task-buttons
{
    display: flex;
    justify-content: space-evenly;
}

.tool-box
{
    align-items: center;
}

#list-table>li
{
    background-color: aqua;
    margin: auto;
}

li>.details ,#list-table
{
    flex-direction: column;
}

li>.task-buttons
{
    justify-content: center;
    align-items: center;
}


