
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


html,body{
    margin:0
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #DA0037;
    font-size: 2rem;
}
nav>.material-icons{
   font-size: 2rem;
}

.home
{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.home>img
{
    margin:5rem auto 1rem auto;
    width: 30%;
    border:5px solid #111111;
    border-radius: 10px;
}

.home>.quote{
    
    margin: auto;
    font-family: 'Pacifico', cursive;
}
.quote>p{
    text-align: center;
}


.home>p{
    
    margin: 1rem auto;
    font-size: 1rem;
    
}

.home>button
{
    margin: auto;
    background-color: #f00640;
    color: #FFFFFF;
    font-size: 1rem;
    border-radius: 5px;
}

.app-content
{
    display: none;
}